*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  font-family: sans-serif;
  
  background-color: #000000;
  color: #FFFFFF;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

body > #thumbnails {
  order: 0;
  flex-grow: 0;
  width: 256px;
  
  background-color: #333;
}
body > #slides {
  order: 1;
  flex-grow: 1;
}




/* Hide SVGs until javascript has moved them into the shadow DOM. */
#slides > svg {
  display: none;
}

#slides > .slide-container {
  /* Slides are hidden until explicitly displayed. */
  display: none;
  
  width: 100%;
  height: 100%;
  
  padding: 8px;
}


#thumbnails {
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  padding: 4px;
  padding-left: 0px;
}

.thumbnail-group {
  display: grid;
  grid-template-columns: 2em 1fr;
}

.thumbnail-group > .slide-number-column {
  grid-column-start: 1;
  grid-column-end: 1;
}
.thumbnail-group > .slide-thumbnails {
  grid-column-start: 2;
  grid-column-end: 2;
  
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.slide-number {
  text-align: right;
  padding-top: 4px;
  padding-right: 8px;
  
  font-weight: bold;
  
  position: sticky;
  top: 0;
}


.thumbnail {
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}
.thumbnail.selected {
  border-color: red;
}

.thumbnail img {
  display: block;
  max-width: 100%;
}
