*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
  font-family: sans-serif;
  
  background-color: #000000;
  color: #FFFFFF;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

body > #thumbnails {
  order: 0;
  flex-grow: 0;
  width: 256px;
  
  --background: #333;
  background-color: var(--background);
}
body > #slides {
  order: 1;
  flex-grow: 1;
}

@media (max-aspect-ratio: 1/1) {  /* Portrait */
  body {
    flex-direction: column;
  }
  body > #thumbnails {
    order: 1;
    width: auto;
    height: 134px;
  }
  body > #slides {
    order: 0;
  }
}




/* Hide SVGs until javascript has moved them into the shadow DOM. */
#slides > svg {
  display: none;
}

#slides > .slide-container {
  /* Slides are hidden until explicitly displayed. */
  display: none;
  
  width: 100%;
  height: 100%;
  
  padding: 8px;
}


#thumbnails {
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  padding: 4px;
  padding-left: 0px;
}

.thumbnail-group {
  flex-shrink: 0;
  
  display: flex;
  
  width: 100%;
}

.thumbnail-group > .slide-number-column {
  min-width: 2em;
  flex-grow: 0;
}
.thumbnail-group > .slide-thumbnails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  
  width: 100%;
}

.slide-number {
  text-align: right;
  padding-top: 4px;
  padding-right: 8px;
  
  font-weight: bold;
  
  position: sticky;
  top: 0;
}


.thumbnail {
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  
  width: 100%;
}
.thumbnail.selected {
  border-color: red;
}

.thumbnail img {
  display: block;
  width: 100%;
}

@media (max-aspect-ratio: 1/1) {  /* Portrait */
  #thumbnails {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
  }
  .thumbnail-group {
    width: auto;
    height: 100%;
  }
  .thumbnail-group > .slide-thumbnails {
    flex-direction: row;
    width: auto;
    height: 100%;
  }
  .slide-number-column {
    position: sticky;
    left: 0;
    background-color: var(--background);
  }
  .slide-number {
    top: 0;
    left: 0;
  }
  .thumbnail {
    width: auto;
    height: 100%;
  }
  .thumbnail img {
    max-width: none;
    width: auto;
    height: 100%;
  }
}
